doctype html 
html 
    head 
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet',href='/css/style.css')
            link(rel='shortcut icon',type='image/png',href='/img/logo-green.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            link(rel="preconnect" href="https://fonts.googleapis.com")
            link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
            link(href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&family=Varela+Round&display=swap" rel="stylesheet")
            title BengalSplendors | #{title}
        

    
    body 
    //HEADER
    include _header
    //CONTENT
    block content 
        h1 This is a placeholder heading

    //FOOTER
    include _footer

    //- script(src='/js/mapbox.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/js/login.js')
    script(src='/js/bundle.js')

